.text {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: start;
}

.icon {
  width: 2em;
  height: 2em;
}

.textarea {
  font-size: 1.1rem;
  height: max-content;
  margin: 0 auto;
}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
}

.section {
  padding: 0.5rem;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

li.section {
  display: flex;
  gap: 1rem;
  align-items: center;
}
