@value colors: "../colors.css";
@value backgroundColor, darkestColor, mainColor, lightdarkColor, lightColor  from colors;

.receipt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70em;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5em;
}

.receipt > div {
    padding: 1em;
}

.receipt > div > div {
    background-color: white;
    padding: 1em;
    width: fit-content;
    margin-bottom: 2em;
    border-radius: 1em;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.315));
}

.receipt > div:nth-child(odd) > div {
    margin-left: auto;
}

.receipt > div:nth-child(odd) {
    position: relative;
    z-index: 2;
}

.receipt > div:nth-child(even) {
    position: relative;
    z-index: 0;
    top: 4em;
}

.receipt .title {
    font-size: 2em;
    font-weight: 800;
    position: relative;
    left: 2em;
}

.receipt .details {
    max-width: 20em;
    position: relative;
    left: 4em;
}

.receipt .food img {
    width: 20em;
    border-radius: 0.5em;
}

.project {
    max-width: 70em;
    margin: 0 auto;
    padding-bottom: 4em;
    position: relative;
    max-height: 20em;
}
.project .image {
    margin-left: 3em;
}

.project .title {
    position: absolute;
    left: 0;
    bottom: 2em;
    font-weight: 700;
    font-size: 1.3em;
    color: mainColor;
}

.project .details {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20em;
    height: fit-content;
}

.project > div {
    background-color: white;
    margin-bottom: 2em;
    border-radius: 2em;
    padding: 1em;
    margin-right: 2em;
    height: fit-content;
    width: fit-content;
}

.project > div > img.background {
    width: 14em;
    height: 14em;
    object-fit: cover;
    animation: unset;
    border-radius: 25px;
    filter: grayscale(1) ;
    transition: width 0.2s, height 0.2s;
}

.fullImage .details {
    max-width: 30em;
    margin: auto;
    text-align: center;
    color: white;
}

.project > div > img.background:hover {
    transform: scale(1.2, 1.2) ;
    filter: none;
    animation-name: hover;
    animation-duration: 0.2s;
}

@keyframes hover {
    from {
        transform: scale(1, 1) ;
    }
    to {
        transform: scale(1.2, 1.2) ;
    }
  }

@media only screen and (max-width: 80em) {
    .project > div > img.background, .project > div > img.background:hover {
        width: 0;
        height: 0;
        margin: 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 800px) {
    .project > div {
        padding: 0em;
    }
}