@value colors: "../colors.css";
@value backgroundColor, darkestColor, mainColor, lightdarkColor, lightColor  from colors;

.receipt {
    display: grid;
    grid-template-columns: 30em 1fr;
    max-width: 80em;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5em;
    line-height: 2em;
}

.receipt > div {
    padding: 1em;
}

.receipt > div > div {
    background-color: white;
    padding: 1em;
    width: fit-content;
    margin-bottom: 2em;
    border-radius: 1em;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.315));
}

.receipt > div:nth-child(odd) > div {
    margin-left: auto;
    width: unset;
}

.receipt > div:nth-child(odd) {
    position: relative;
    z-index: 2;
}

.receipt > div:nth-child(even) {
    position: relative;
    z-index: 0;
    top: 4em;
}

.receipt .title {
    font-size: 2em;
    font-weight: 800;
    position: relative;
    left: 2em;
}

.receipt .food img {
    width: 20em;
    border-radius: 0.5em;
}

@keyframes hover {
    from {
        transform: scale(1, 1) ;
    }
    to {
        transform: scale(1.2, 1.2) ;
    }
  }


  @media only screen and (max-width: 60em) {

    .receipt {
        display: grid;
        grid-template-columns: 1fr;
    }

    .receipt .title {
        position: unset;
        left: unset;
        bottom: unset;
        margin: 0;
        margin-bottom: 1em;
    }

    .receipt .food img {
        width: 0em;
        border-radius: 0;
    }

    .receipt .food {
        margin: 0;
        padding: 0;
    }

    .receipt > div:nth-child(even) {
        position: unset;
        z-index: 0;
    }
}