@value colors: "../colors.css";
@value backgroundColor, darkestColor, mainColor, lightdarkColor, lightColor  from colors;

.receipt {
    padding: 0;
    padding-top: 0;
    max-width: 80em;
    margin: 0 auto;
    padding-bottom: 20em;
}

.receipt .main {
    background-color: mainColor;
    color: white;
    background: linear-gradient(-90deg, mainColor 0%, darkestColor 100%);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    min-height: 15em;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.11));
}

.image img {
    height: 24em;
    width: 24em;
    object-fit: cover;
    border-radius: 2em;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.226));
    position: absolute;
    left: 0;
    bottom: -8em;
}

.image {
    position: relative;
    margin: 0 auto;
    width: 24em;
    height: 100%;
    z-index: 3;
}

.title {
    padding-bottom: 1em;
    font-size: 3em;
    font-weight: 700;
    text-align: start;
}

.receipt .details {
    width: 30em;
    margin: 0 auto;
}

.receipt .description {
    display: grid;
    column-gap: 2em;
    grid-template-columns: 1fr 1fr;
    padding-left: 1em;
    padding-right: 1em;
}

.description li, .description ol  {
    margin-bottom: 0.5em;
}

.receipt .description > div {
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    margin-top: 2em;
    height: max-content;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.11));
}

.receipt .description > div:nth-child(even) {
    position: relative;
    top: 7em;
}

@media only screen and (max-width: 70em) {
    
    .image img {
        height: 20em;
        width: 20em;
    }

    .image {
        width: 20em;
    }
}

@media only screen and (max-width: 60em) {
    .receipt .description {
        display: unset;
    }

    .receipt .description > div:nth-child(even) {
        top: 0em;
    }
    
    .image img {
        height: 0em;
        width: 0em;
    }

    .image {
        width: 0em;
    }


    .receipt .main {
        height: fit-content;
        min-height: 15em;
    }

    .receipt .description > div { 
        margin-left: 1em;
        margin-right: 1em;
    }
}
@media only screen and (max-width: 50em) {

    .receipt .details {
        width: unset;
        margin: 0 auto;
    }  
}
