@value colors: "../colors.css";
@value backgroundColor, darkestColor, mainColor, lightdarkColor, lightColor  from colors;

.receipt {
    margin: 0 auto;
    position: relative;
    background-color: lightColor;
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 2em;
    max-width: 30em;
    max-height: 20em;
    height: 12em;
    overflow: hidden;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.315));
}

.receipt:hover {
    cursor: pointer;
}

.receipt .image {
    filter: drop-shadow(0px 5px 10px rgba(34, 34, 34, 0.315));
}

.receipt .title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: mainColor;
}

.receipt .description {
    padding: 1em;
    filter: grayscale(1);
}

.receipt:hover .description {
    padding: 1em;
    filter: grayscale(0);
}

.receipt > div > img.background {
    width: 12em;
    height: 12em;
    object-fit: cover;
    filter: grayscale(0.6) ;
}

.receipt:hover > div > img.background {
    filter: none;
}

@media only screen and (max-width: 50em) {

    .receipt {
        display: block;
        height: max-content;
        max-height: 40em;
        max-width: 15em;
    }

    .receipt .title {
        padding: 0.5em;
        font-size: 1em;
    }

    .receipt .details {
        font-size: 0em;
    }

    .receipt > div > img.background {
        width: 100%;
        height: auto;
        max-height: 15em;
    }
}