.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.grid_big {
    display: flex; 
    flex-wrap: wrap;
    max-width: 100em;
    margin: 0 auto;
    align-content: center;
    gap: 2.5em;
}

.grid > div {
    margin: auto;
    position: relative;
    max-width: 40em;
}

@media only screen and (max-width: 800px) {
    .grid {
        display: grid; 
        grid-template-columns: 1fr;
    }
}