.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.grid_big {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100em;
    margin: 0 auto;
}

.grid > div {
    margin: auto;
    position: relative;
    max-width: 40em;
}

@media only screen and (max-width: 800px) {
    .grid {
        display: grid; 
        grid-template-columns: 1fr;
    }
}