@value colors: "./colors.css";
@value backgroundColor, darkestColor, mainColor, lightdarkColor, lightColor  from colors;

.page {
    height: max-content;
    min-height: 90vh;
    margin: 0;
    text-align: left;
    background-color: backgroundColor;
    color: darkestColor;
}

.page > div {
    position: relative;
    padding: 2em;
}

img.minilogo, .minilogo img{
    width: 20pt;
    height: 20pt;
    margin: 10pt;
    object-fit: scale-down;
    animation: unset;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.315));
}

.minilogo svg {
    width: 5em;
    height: 5em;
    margin: 10pt;
    object-fit: scale-down;
    animation: unset;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.315));
}

.logo, .logo img, .logo svg {
    height: 20em;
    width: 20em;
    object-fit: scale-down;
}


@media only screen and (max-width: 800px) {

    .logo, .logo img, .logo svg {
        height: 10em;
        width: 10em;
        object-fit: scale-down;
    }

    h1, h2, h3 {
        font-size: 1.5em;
    }
}