.page {
    height: max-content;
    min-height: 90vh;
    max-width: 90rem;
    margin: 0 auto;
    text-align: left;
    color: var(--darkestColor);
}

img.minilogo, .minilogo img{
    width: 20pt;
    height: 20pt;
    margin: 10pt;
    object-fit: scale-down;
    animation: unset;
    filter: brightness(0%);
}

.minilogo svg {
    width: 5em;
    height: 5em;
    margin: 10pt;
    object-fit: scale-down;
    animation: unset;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.315));
}

.logo, .logo img, .logo svg {
    height: 20em;
    width: 20em;
    object-fit: scale-down;
}

.filters {
    padding: 1em;
    display: flex;
    justify-content: center;
}


.filters input 
{
    width: 100%;
}

.filters button {
    margin-right: 1em;
    border: 0;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
    font-weight: 500;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.315));
}

.filters button:hover {
    background-color: var(--lightColor);
}

.filters button.selected {
    background-color: var(--lightdarkColor);
    color: white;
}


@media only screen and (max-width: 800px) {

    .page {
        max-width: 90%;
    }
    .logo, .logo img, .logo svg {
        height: 10em;
        width: 10em;
        object-fit: scale-down;
    }
}