.main
{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    line-height: 1.2rem;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--darkestColor);
    overflow: hidden;
}

.search {
    overflow: hidden;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    font-size: 14px;
}

.tabs_hamburger {
    position: absolute;
    top: 4rem;
    left: 2rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    gap: 2rem;
    font-size: 14px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    z-index: 1000;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.main a
{
    color: var(--darkestColor);
    text-decoration: none;
}

.main a:hover
{
    color: var(--mainColor);
}

.hamburger {
    width: 0;
    height: 0;
    overflow: hidden;
}


@media only screen and (max-width: 60em) {
    .tabs {
        gap: 0.5rem;
        justify-content: space-between;
        flex-grow: unset;
    }
    .title
    {
        max-width: 6rem;
    }
    .main
    {
        margin-left: 0rem;
        margin-right: 0rem;
        justify-content: start;
        gap: 1rem;
    }

    .profile {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .search {
        width: 0px;
    }
}

@media only screen and (max-width: 40em) {
    .tabs {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .hamburger {
        width: 24px;
        height: 24px;
        overflow: visible;
    }
}