.grid {
    display: flex; 
    grid-template-columns: 1fr 1fr;
    padding: 2em;
}

.grid_big {
    display: flex; 
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100em;
    margin: 0 auto;
    align-content: center;
    gap: 3em;
    padding: 2em;
}

.grid > div {
    margin: auto;
    position: relative;
    max-width: 40em;
}

@media only screen and (max-width: 60em) {
    .grid {
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        grid-template-columns: 1fr;
    }

    .grid_big {
        padding: 0em;
        gap: 2em;
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}