
.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
    padding: 0.5rem;
    border:none;
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    font-size: inherit;
}

textarea {
    color: inherit;
    font-size: inherit;
    resize: none;
    padding: 0.5rem;
    border:none;
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0);
    field-sizing: content;
    width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
