@value colors: "./pages/colors.css";
@value backgroundColor, darkestColor, mainColor, lightdarkColor from colors;

.main
{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: darkestColor;
    overflow: hidden;
}

.search {
    overflow: hidden;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    font-size: 14px;
}

.main a
{
    color: darkestColor;
    text-decoration: none;
}

.main a:hover
{
    color: mainColor;
}


@media only screen and (max-width: 800px) {
    .tabs {
        justify-content: space-around;
    }
    .main
    {
        margin-left: 0rem;
        margin-right: 0rem;
        justify-content: space-around;
    }

    .search {
        width: 0px;
    }
}